*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none
}
i,em{
    display: inline-block;
}
html,
body{
    width: 100%;
    height: 100%;
}
#box{
    width: 100%;
    height: 100%;
}
.content{
    width: 990px;
    margin: auto;
}
header{
    height: 37px;
    line-height: 37px;
    font-size: 14px;
}
header ul{
    display: flex;
}
header ul li{
    margin-right: 20px;
}
header ul li a{
    color: #000000;
    display: inline-block;
    height: 100%;
}
header ul li a:hover{
    color: red;
    text-decoration: underline;
}
.body{
    background: #f3f3f3;
}
.logo-b{
    padding: 20px 0 15px;
    display: flex;
}
.logo-b a img{
    width: 190px;
    height: 88px;
}
.logo-b h1{
    height: 40px;
    color: #666;
    font: 24px/40px "Microsoft YaHei";
    border-left: 1px solid #ccc;
    padding: 0 0 0 10px;
    margin: 25px 0 0 10px;
}
.has_number{
    flex: 1;
    text-align: right;
    font-size: 12px;
    height: 12px;
    margin-top: 80px;
}
.has_number a{
    color: #08d;
}
.has_number a:hover{
    text-decoration: underline;
}
.gl_body {
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
}
.reg_l {
    width: 693px;
    padding: 40px 0 0 50px;
}
.left {
    display: inline;
    float: left;
}
.reg_l_tag {
    overflow: hidden;
}
.reg_l_t_list.current {
    background: url(../img/regloginimg/t_b_2.jpg) no-repeat 0 bottom;
}
.reg_l_t_list {
    width: 109px;
    margin-left: 96px;
    background: url(../img/regloginimg/login.png) no-repeat 0 bottom;
    font: 20px/22px "Microsoft YaHei";
    color: #333;
    height: 38px;
    text-align: center;
    cursor: pointer;
}
.reg_l_t_list em {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 14px;
    height: 22px;
    background: url(../img/regloginimg/login.png) no-repeat 0 -195px;
    margin-right: 8px;
}
.tag_body {
    padding: 30px 0 0 80px;
    font-size: 12px;
}
.forget_list {
    margin-top: 10px;
    overflow: hidden;
}
.forget_list span {
    float: left;
    font: 16px/38px "Microsoft YaHei";
    color: #666;
    width: 100px;
    text-align: right;
}
.yzm {
    float: left;
    height: 38px;
    padding: 0 10px;
}
.borderd {
    border: 1px solid #ddd;
}
.w230 {
    width: 230px;
}
.yzm input {
    float: left;
    height: 28px;
    padding: 5px 0;
    font: 14px/28px "Microsoft YaHei";
    border: none;
    color: #666;
}
input {
    outline: 0;
}
.k_em {
    width: 30px;
    height: 30px;
    float: left;
}
.tip.suc {
    background: url(../img/regloginimg/login.png) no-repeat -5px -33px;
}
.tip {
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px 0 0 10px;
}
.tip.err {
    color: #f65;
    background: #ffebec;
    border: 1px solid #ffbdbf;
    padding: 4px 10px;
    width: 210px;
    height: 15px;
}

.yzm .tip.err {
    background: url(../img/regloginimg/login.png) no-repeat -36px -33px;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
}
.w80 {
    width: 80px;
}
.forget_list img {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.change {
    color: #08d;
    cursor: pointer;
    float: left;
    margin: 10px 0 0 10px;
}
a {
    color: #000;
    text-decoration: none;
}
.change a:hover{
    color: #08d;
    text-decoration: underline;
}
.login_bind_other {
    margin-top: 0;
    line-height: 20px;
    color: #999;
}
.send_text {
    color: #999;
    float: left;
    margin: 11px 0 0 10px;
}
.none {
    display: none;
}
.login_bind_other strong {
    color: #FD6459;
}
strong {
    font-weight: bold;
}
.xieyi {
    color: #333;
    padding: 20px 0 0;
}

.xieyi input {
    vertical-align: middle;
}
.xieyi a {
    color: #08d;
}

.login_btn {
    font: 24px/46px "Microsoft YaHei";
    color: #fff;
    background: #f65;
    border: 1px solid #e35342;
    text-align: center;
    cursor: pointer;
}
.login_btn a {
    display: block;
    height: 46px;
    color: #fff;
}
.forget_list .login_btn {
    margin-top: 30px;
    width: 250px;
}





.right {
    display: inline;
    float: right;
}
.reg_r img {
    width: 180px;
    height: 518px;
    display: block;
}
.get_message.tip {
    font-weight: normal;
    float: left;
    color: #CCC;
    height: 38px;
}
.get_message {
    float: left;
    border: 1px solid #ddd;
    color: #666;
    background: #f3f3f3;
    width: 108px;
    text-align: center;
    line-height: 38px;
    margin: 0 0 0 10px;
    cursor: pointer;
}   





/* 底部 */
.footer_auto {
    width: 990px;
    margin: 0 auto;
    text-align: center;
}
.footer_bot {
    padding: 20px 0;
    position: relative;
    font-size: 12px;
}
.footer_bot p.link {
    color: #333;
}
.footer_bot a {
    color: #333;
    font-size: 12px;
}
.footer_bot a:hover{
    text-decoration: underline;
}
.footer_bot p span {
    padding: 0 8px;
    color: #999;
}
.footer_bot p {
    color: #666;
    line-height: 22px;
}
.footer_bot .beian a {
    position: relative;
}
.footer_bot .beian a img {
    position: absolute;
    left: -23px;
    top: -14px;
}
.footer_bot p {
    color: #666;
    line-height: 22px;
}
.footer_bot img {
    margin: 10px 10px 0 0;
}

.rightside {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 48px;
}
body,html{
    scroll-behavior: smooth;
  }
  
.rightside a {
    display: block;
    height: 48px;
    background: url(../img/mainimg/btn.png) no-repeat;
    margin-top: 1px;
}
.rightside a.r_dog {
    background-position: 0 0;
}
.rightside a.r_cat {
    background-position: 0 -49px;
}
.rightside a.r_small {
    background-position: 0 -98px;
}
.rightside a.r_water {
    background-position: 0 -147px;
}
.rightside a.r_reptile {
    background-position: 0 -245px;
}
.rightside a.goTop {
    background-position: 0 -196px;
}
.rightside a.r_dog:hover {
    background-position: -52px 0;
}
.rightside a.r_cat:hover {
    background-position: -52px -49px;
}
.rightside a.r_small:hover {
    background-position: -52px -98px;
}
.rightside a.r_water:hover {
    background-position: -52px -147px;
}
.rightside a.r_reptile:hover {
    background-position: -52px -245px;
}
.rightside a.goTop:hover {
    background-position: -52px -196px;
}